<%- include("../common/head") %>
<header class="default-header">
    <h1>在线充值</h1>
</header>

<div class="wrapper">
    <!--<div class="weui-cells__title">目前只支持微信充值</div>-->
    <div class="item-list">
        <div class="weui-flex">
            <div class="weui-flex__item">
                <h1>30元</h1>
                <span>会员价:29</span>
            </div>
            <div class="weui-flex__item">
                <h1>50元</h1>
                <span>会员价:29</span>
            </div>
            <div class="weui-flex__item">
                <h1>1200元</h1>
                <span>会员价:1000</span>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item">
                <h1>30元</h1>
                <span>会员价:29</span>
            </div>
            <div class="weui-flex__item">
                <h1>50元</h1>
                <span>会员价:29</span>
            </div>
            <div class="weui-flex__item">
                <h1>50元</h1>
                <span>会员价:29</span>
            </div>
        </div>
    </div>
    <div class="weui-cells__tips"><span>如要申请退款，请拨打客服电话</span><a  href="tel:400-821-5365">400-821-5365</a></div>
    <!--
          <div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
  </div>
  -->
</div>
<%- include("../common/footer") %>