<%- include("../common/head") %>
<header class="default-header">
    <h1>在线注册</h1>
</header>

<div class="wrapper">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="" class="weui-label">姓名</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" value="" placeholder="姓名" id="txtName">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="" class="weui-label">身份证号</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" value="" placeholder="身份证号" id="txtIdCardNo">
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" placeholder="验证码" id="txtVerifyCode">
            </div>
            <div class="weui-cell__ft">
                <img class="weui-vcode-img" src="/common/genCaptchapng">
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd">
                <label class="weui-label">手机号</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="tel" placeholder="手机号" id="txtPhoneNo">
            </div>
            <div class="weui-cell__ft">
                <button class="weui-vcode-btn" id="btnGetVerifyCode">获取验证码</button>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="" class="weui-label">短信验证码</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" value="" placeholder="短信验证码" id="txtSmsCode">
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
    </div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
    </div>
</div>
<%- include("../common/footer") %>