<%- include("../common/head") %>
<div class="wrapper">
    <header class="default-header">
        <h1>签到</h1>
    </header>
      <div class="weui-cells__title">记录你明天的心情，签到会有积分奖励哦！</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="在这里可以记录你每天的心情" rows="3"></textarea>
                <div class="weui-textarea-counter"><span>0</span>/200</div>
            </div>
            </div>
        </div>
          <div class="weui-btn-area">
             <a class="weui-btn weui-btn_primary" href="javascript:">签到</a>
         </div>
</div>
<%- include("../common/footer") %>
