<%- include("../common/head") %>
<div class="wrapper">
    <header class="default-header">
        <h1>消费记录</h1>
    </header>
    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">金额</label>
                <em class="weui-form-preview__value amount">-¥2400.00</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">用途</label>
                <span class="weui-form-preview__value status">赛事13131</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">消费时间</label>
                <span class="weui-form-preview__value">2017-03-12 12:34</span>
            </div>

        </div>
    </div>
    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">金额</label>
                <em class="weui-form-preview__value amount">-¥2400.00</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">用途</label>
                <span class="weui-form-preview__value status">赛事123131</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">消费时间</label>
                <span class="weui-form-preview__value">2017-03-12 12:56</span>
            </div>

        </div>
    </div>
    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">金额</label>
                <em class="weui-form-preview__value amount">-¥2400.00</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">用途</label>
                <span class="weui-form-preview__value status">赛事123131</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">消费时间</label>
                <span class="weui-form-preview__value">2017-03-12 12:56</span>
            </div>

        </div>
    </div>
     <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">金额</label>
                <em class="weui-form-preview__value amount">-¥2400.00</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">用途</label>
                <span class="weui-form-preview__value status">赛事123131</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">消费时间</label>
                <span class="weui-form-preview__value">2017-03-12 12:56</span>
            </div>

        </div>
    </div>
</div>
<%- include("../common/footer") %>
