<%- include("../common/head") %>
<div class="wrapper">
   <div class="coupon-list">
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">类型</label>
                    <em class="weui-form-preview__value">门票</em>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">用途</label>
                    <span class="weui-form-preview__value">周赛</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">来源</label>
                    <span class="weui-form-preview__value">豪气排名</span>
                </div>
                 <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">状态</label>
                    <span class="weui-form-preview__value used">已使用</span>
                </div>
            </div>
        </div>
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">类型</label>
                    <em class="weui-form-preview__value">门票</em>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">用途</label>
                    <span class="weui-form-preview__value">周赛</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">来源</label>
                    <span class="weui-form-preview__value">豪气排名</span>
                </div>
                 <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">状态</label>
                    <span class="weui-form-preview__value unused">未使用</span>
                </div>
            </div>
        </div>
   </div>
</div>
<%- include("../common/footer") %>
