<%- include("../common/head") %>
<div class="wrapper">
    <header class="default-header">
        <h1>积分记录</h1>
    </header>
    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">积分</label>
                <em class="weui-form-preview__value minus">-240</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">来源</label>
                <span class="weui-form-preview__value status">赛事13131</span>
            </div>
        </div>
    </div>
    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">积分</label>
                <em class="weui-form-preview__value plus">+300</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">来源</label>
                <span class="weui-form-preview__value">充值</span>
            </div>
        </div>
    </div>
    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">积分</label>
                <em class="weui-form-preview__value minus">-400</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">来源</label>
                <span class="weui-form-preview__value">兑换</span>
            </div>
        </div>
    </div>
</div>
<%- include("../common/footer") %>
