<%- include("../common/head") %>

<div class="wrapper">
    <header class="default-header">
        <h1>修改会员信息</h1>
    </header>
    <div class="weui-cells__title">以下个人信息将帮助我们为您定制会员福利，请您尽量准确填写哦</div>
      <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">昵称</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text"  placeholder="请输入昵称">
      </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
      <div class="weui-cell__hd">
        <label class="weui-label">手机号</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="tel" placeholder="请输入手机号">
      </div>
      <div class="weui-cell__ft">
        <button class="weui-vcode-btn">获取验证码</button>
      </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
      <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="number" placeholder="请输入验证码">
      </div>
      <div class="weui-cell__ft">
        <img class="weui-vcode-img" src="./images/vcode.jpg">
      </div>
    </div>
    <div class="weui-cell weui-cell_select">
      <div class="weui-cell__bd">
        <select class="weui-select" name="select1">
            <option selected="" value="1">性别</option>
            <option value="0">男</option>
            <option value="1">女</option>
          </select>
      </div>
    </div>
  </div>
  <div class="weui-cells__tips">底部说明文字底部说明文字</div>
  <!--
    <label for="weuiAgree" class="weui-agree">
      <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">
      <span class="weui-agree__text">
        阅读并同意<a href="javascript:void(0);">《相关条款》</a>
      </span>
    </label>
    -->

  <div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
  </div>
</div>

<%- include("../common/footer") %>
