<%- include("../common/head") %>

<div class="wrapper">
    <div class="header">
        <div class="wechat">
            <img src="http://usr.im/100x100?text=微信头像" alt="微信头像">
            <span>微信昵称</span>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item">
                <h1>会员等级</h1>
                <span>普通等级</span>
            </div>
            <div class="weui-flex__item">
                <h1>储值</h1>
                <span>4.00</span>
            </div>
            <div class="weui-flex__item">
                 <h1>积分</h1>
                <span>0.00</span>
            </div>
         </div>
    </div>

    <div class="content">
        <div class="weui-grids">
            <a href="/personal/info" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <i class="fa fa-user-circle"></i>
                </div>
                <p class="weui-grid__label">
                    个人信息
                </p>
            </a>
            <a href="/personal/recharge" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <i class="fa fa-credit-card-alt"></i>
                </div>
                <p class="weui-grid__label">
                    帐户充值
                </p>
            </a>
            <a href="/personal/balance" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <i class="fa fa-money"></i>
                </div>
                <p class="weui-grid__label">
                    账目明细
                </p>
            </a>
            <a href="/personal/credits" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                   <i class="fa fa-file-text"></i>
                </div>
                <p class="weui-grid__label">
                    积分明细
                </p>
            </a>
            <a href="toast.html" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <i class="fa fa-search-plus"></i>
                </div>
                <p class="weui-grid__label">
                    战绩查询
                </p>
            </a>
            <a href="/match/apply" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                   <i class="fa fa-gamepad"></i>
                </div>
                <p class="weui-grid__label">
                    赛事报名
                </p>
            </a>
            <a href="/account/signIn" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <i class="fa fa-sign-in"></i>
                </div>
                <p class="weui-grid__label">
                    在线签到
                </p>
            </a>
            <a href="msg.html" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <i class="fa fa-phone-square"></i>
                </div>
                <p class="weui-grid__label">
                    联系我们
                </p>
            </a>
        </div>        
    </div>
</div>

<%- include("../common/footer") %>