<%- include("../common/head") %>
<div class="wrapper">
    <header class="default-header">
        <h1>充值记录</h1>
    </header>
    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">付款金额</label>
                <em class="weui-form-preview__value amount">¥2400.00</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">状态</label>
                <span class="weui-form-preview__value status">已完成</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">付款时间</label>
                <span class="weui-form-preview__value">2017-03-12 12:34</span>
            </div>

        </div>
    </div>
    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">付款金额</label>
                <em class="weui-form-preview__value amount">¥2400.00</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">状态</label>
                <span class="weui-form-preview__value status">已完成</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">付款时间</label>
                <span class="weui-form-preview__value">2017-03-12 12:56</span>
            </div>

        </div>
    </div>
    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">付款金额</label>
                <em class="weui-form-preview__value amount">¥2400.00</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">状态</label>
                <span class="weui-form-preview__value status">已完成</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">付款时间</label>
                <span class="weui-form-preview__value">2017-03-12 12:56</span>
            </div>

        </div>
    </div>
     <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">付款金额</label>
                <em class="weui-form-preview__value amount">¥2400.00</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">状态</label>
                <span class="weui-form-preview__value status">已完成</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">付款时间</label>
                <span class="weui-form-preview__value">2017-03-12 12:56</span>
            </div>

        </div>
    </div>
</div>
<%- include("../common/footer") %>
