<%- include("../common/head") %>
<div class="wrapper">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">支付失败</h2>
            <p class="weui-msg__desc">您可以选择稍后再尝试支付，或者可以联系微信客服，咨询支付失败的原因</p>
        </div>
    </div>
</div>
<%- include("../common/footer") %>