<%- include("../common/head") %>
<header class="default-header">
    <h1>在线充值</h1>
</header>

<div class="wrapper">
    <!--<div class="weui-cells__title">目前只支持微信充值</div>-->
    <div class="item-list">
        <div class="weui-flex">
            <div class="weui-flex__item" data-price="100" data-name="微信充值">
                <h1>100元</h1>
            </div>
            <div class="weui-flex__item" data-price="200" data-name="微信充值">
                <h1>200元</h1>
            </div>
            <div class="weui-flex__item" data-price="500" data-name="微信充值">
                <h1>500元</h1>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item" data-price="1000" data-name="微信充值">
                <h1>1000元</h1>
                <span>成为高级会员</span>
            </div>
            <div class="weui-flex__item" data-price="2000" data-name="微信充值">
                <h1>2000元</h1>
                <span>成为豪客</span>
            </div>
            <div class="weui-flex__item" data-price="5000" data-name="微信充值">
                <h1>5000元</h1>
                <span>成为豪爵</span>
            </div>
        </div>
    </div>
    
    <article class="weui-article">
        <section>
            <h2 class="title">温馨提示</h2>
            <p>
                单笔储值达到指定金额即可获得相应会员资格，不同会员等级使用储值金额除可获得相应积分外，更可获得豪气及额外积分奖励！详情参见俱乐部会员须知及相关活动公告！
            </p>
        </section>
        <section>
            <h2 class="title">免责声明</h2>
            <p>充值资金直接由上海幸幸体育赛事策划有限公司豪客德州俱乐部收款，后续服务中遇到任何问题请联系该商家。</p>
        </section>
    </article>
</div>
<%- include("../common/footer") %>