/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：豪客微信站
 2. 文件名称：static/less/personal/credits.less --> (个人中心/积分记录)
 3. 作者：KingsleyYu
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.wrapper {
     padding-bottom: 42px;
    .minus {
        color: #F95355;
        font-size: 1.4em;
    }
    .plus {
        color: #4081d6;
        font-size: 1.4em;
    }

    .weui-form-preview__hd{
        padding: 0 15px;
    }

    .weui-form-preview__bd{
        padding: 5px 15px;
    }
}