<%- include("../common/head") %>
<div class="wrapper">
    <header class="default-header">
        <h1>赛事报名</h1>
    </header>
    <div class="weui-form-preview">
      <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">赛事名称</label>
          <em class="weui-form-preview__value name">赛事名称123131</em>
        </div>
      </div>
      <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">举办方</label>
          <span class="weui-form-preview__value">举办方1111</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">状态</label>
          <span class="weui-form-preview__value status">已开始</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">举办时间</label>
          <span class="weui-form-preview__value">2017-03-10</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">赛事介绍</label>
          <span class="weui-form-preview__value">赛事介绍赛事介绍赛事介绍赛事介绍赛事介绍赛事介绍赛事介绍赛事介绍</span>
        </div>
      </div>
      <div class="weui-form-preview__ft">
        <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">报名</a>
      </div>
    </div>
    <div class="weui-form-preview">
      <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">赛事名称</label>
          <em class="weui-form-preview__value name">赛事名称123131</em>
        </div>
      </div>
      <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">举办方</label>
          <span class="weui-form-preview__value">举办方1111</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">状态</label>
          <span class="weui-form-preview__value status closed">已结束</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">举办时间</label>
          <span class="weui-form-preview__value">2017-03-10</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">赛事介绍</label>
          <span class="weui-form-preview__value">赛事介绍赛事介绍赛事介绍赛事介绍赛事介绍赛事介绍赛事介绍赛事介绍</span>
        </div>
      </div>
    </div>
    <div class="weui-form-preview">
      <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">赛事名称</label>
          <em class="weui-form-preview__value name">赛事名称123131</em>
        </div>
      </div>
      <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">举办方</label>
          <span class="weui-form-preview__value">举办方1111</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">状态</label>
          <span class="weui-form-preview__value status unstarted">未开始</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">举办时间</label>
          <span class="weui-form-preview__value">2017-03-10</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">赛事介绍</label>
          <span class="weui-form-preview__value">赛事介绍赛事介绍赛事介绍赛事介绍赛事介绍赛事介绍赛事介绍赛事介绍</span>
        </div>
      </div>
    </div>
</div>
<%- include("../common/footer") %>
