<%- include("../common/head") %>
<div class="wrapper">
    <input type="hidden" id="memberLevelId" value="<%= memberLevelId %>">
    <div class="match-list">
    
    </div>
</div>
<%- include("../common/footer") %>
