/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：豪客微信站
 2. 文件名称：static/less/match/info.less --> (赛事/详情)
 3. 作者：RyanLu
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.name {
    color: #E51400;
    text-align: center;
    font-size: 1.4em;
}

.total {
    text-align: center;
}

.wrapper {
    padding-bottom: 42px;
    .weui-form-preview {
        .weui-form-preview__hd {
            padding: 5px 15px;
            .weui-form-preview__value {
                font-size: 1.4em;
            }
        }
    }
}